<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        姓：<input type="text" v-model="firstName">
        名：<input type="text" v-model="lastName">
        <p>{{firstName+lastName}}</p>
        <p>{{getFullName()}}</p>
        <!-- 重点 -->
        <p>{{fullName}}</p>

        <!--第四种方法，重要 wahch-->
        <p>{{fullName2}}</p>

    </div>
    <script src="./vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data() {
                return {
                    firstName: 'hu',
                    lastName: 'su',
                    fullName2: ''
                }
            },
            methods: {
                getFullName() {
                    // 在Vue中所有的函数内部的this都是指向Vue实例，因为这些方法或函数都会被vm代理到Vue实例上
                    return this.firstName + '-' + this.lastName
                }
            },

            // 当我需要一个数据，但是这个数据我又没有，并且这个数据由目前我有的数据计算而来的，那就要用计算属性
            // 计算属性是有缓存的，如果数据没有变化，那么计算属性就不会重新计算
            computed: {
                // 这是计算属性的完整写法
                // fullName: {
                //     get() {
                //         return this.firstName + '-' + this.lastName
                //     },
                //     set() {
                //         // 目前没用
                //     }
                // }
                // 如果计算属性中只有get方法，那么可以简写如下
                fullName() {
                    return this.firstName + '-' + this.lastName
                }

                // 使用方法去获取姓名和计算属性去获取姓名的区别（很重要）
                // 1.计算属性是响应式的，如果数据发生变化，那么计算属性也会重新计算
                // 2.计算属性是缓存的，如果数据没有变化，那么计算属性就不会重新计算
                // 3.计算属性是延迟的，如果数据没有变化，那么计算属性就不会重新计算
                // 4.计算属性是可读可写的，如果数据没有变化，那么计算属性就不会重新计算

                // 对于方法调用，你使用了几次方法调用，这个方法就被调用了几次，
                // 对于计算属性，只要数据没有发生变化，就不会重新计算
            },

            // 监视的数据肯定是存在的，而且是可变化的
            watch:{
                firstName:{
                    // 这个对象是一个配置对象

                },
                lastName:{

                }
            }
        })
    </script>

</body>

</html>